<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="hello_world_before_item_event">
        <observer name="HelloWorldBeforeItem" instance="CTS\HelloWorld\Observer\MyObserver" />
    </event>
    <event name="hello_world_after_item_event">
        <observer name="HelloWorldBeforeItem" instance="CTS\HelloWorld\Observer\MyAfterObserver" />
    </event>
</config>
